/*start main styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --p-color:#777;
    --main-padding:100px;
    --overlay-color: rgba(0, 0, 0, 0.5)
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*end main styles */
/* start repeated styles */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before{
    content: '';
    background: black;
    width: 208px;
    height: 1.5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.main-heading h2::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: solid 1.5px;
    border-radius: 50%;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -41px;
}
.main-heading p{
    color: var(--p-color);
    max-width: 100%;
    width: 550px;
    margin: 0 auto 100px;
}

/* end repeated styles */
/* start header */
header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    height: 1px;
    background-color: white;
    width: calc(100% -  30px);
    position: absolute;
    bottom: 0;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
}
i.bar{
    display: none;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 10px;
    transition: 0.5s;
}
.form{
    display: flex;
    align-items: center;
    text-align: end;
    color: white;
    margin-left: 20px;
    border-left: white solid 1px;
    height: 30px;
    align-self: center;
}
i.search{
width: 35px;
font-size: 1.2em;
}
header img{
    height: 40px;
}
nav a:hover,
nav a.active{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 2;
}

@media (max-width: 767px){
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 50%);
    }
    ul a{
        padding: 15px;
    }
    nav .bar{
        display: block;
        color: white;
        align-self: center;
        font-size: 1.3em;
        margin-right: 10px;
    }
    nav:hover ul{
        display: flex;
    }
}
/* end header */
/*start landing*/
.landing{
    height: 100vh;
    background-color: firebrick;
    background: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg);
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .text{
    width: 50%;
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .cont{
    max-width: 500px;
}

.landing .text .cont h2{
    margin-bottom: 20px;
    line-height: 1.8em;
}
.landing .text .cont p{
    line-height: 1.5em;
}
.landing i{
    color: white;
    position: absolute;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
}
.landing i.left{
 left: 30px;
}
.landing i.right{
right: 30px;
}
.landing ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li{
    width: 20px;
    height: 20px;
    border: solid white 1px;
    margin-right: 10px;
    border-radius: 50%;
}
.landing ul li.active{
    background-color: var(--main-color);
}

@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }    
    .landing .text .cont{
        max-width: 100%;
    }
    .landing i {
        display: none;
    }
}
/*end landing*/
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.services i{
    font-size: 3em;
    margin-bottom: 30px;
}
.services h3{
    color: var(--main-color);
    margin-bottom: 20px;
}
.services p{
    color: #777;
    line-height: 2;
}

.serbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width:767px){
    .sergrid{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-gap: 40px 80px;
    }
    .serbox{
        margin: 0;
        flex-direction: row;
        text-align: start;
    }
    .serbox i{
        margin-right: 40px;
    }
}
/* end services */
/* start design */
.design{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg);
    display: flex;
    height: 600px;
    position: relative;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: '';
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.design .text{
    flex:1;
    width: 50%;
    background-color: var(--transparent-color);
    position: relative;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    right: 0;
    flex-direction: column;
}
.design h3{
    margin-bottom: 40px;
}
.design li{
    padding: 15px 0;
}

.design li::before{
    content: '\f390';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 20px;
}
.design .image{
    flex:1;
    text-align: center;
    position: relative;
}
.design img{
    position: relative;
    bottom: -150px;
}

@media (max-width:950px){
    .design .image{
        display: none;
    }
}
/* end design */
/* start portfolio */
.portfolio{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.portfolio ul{
    display: flex;
    justify-content: center;
}
.portfolio li{
    padding: 15px;
    text-transform: capitalize;
}
.portfolio li.active{
    color: white;
    background-color: var(--main-color);
}

.boxs{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .box{
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
}

@media (max-width:1199px){
    .portfolio .box{
        flex-basis: 50%;
    }
}
@media (max-width:768px){
    .portfolio .box{
        flex-basis: 100%;
    }
}
.portfolio .box img{
    width: 100%;
    transition: 0.3s;
}
.portfolio .box .text{
    padding: 20px;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    bottom: -100px;
    background: white;
}
.portfolio .box:hover img{
    transform: scale(1.1) rotate(3deg);
}
.portfolio .box:hover .text{
    bottom: 0;
}
.portfolio .box h3{
    font-weight: normal;
}
.portfolio .box p{
    font-weight: normal;
    color: var(--main-color);
    margin-top: 5px;
}
.portfolio a{
    text-decoration: none;
    padding: 15px;
    margin: 40px auto;
    display: block;
    width: fit-content;
    background: var(--main-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* end portfolio */
/* start video */
.video video{
    max-width: 100%;
}
.video{
    position: relative;
}
.video::before{
    content: '';
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video .text{
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
    text-align: center;
    width: 100%;
}
.video .text h3{
    margin-bottom: 25px;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text a{
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* end video */
/* start about */
.about{
    padding-top: var(--main-padding);
    text-align: center;
    overflow: hidden;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px){
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* end about */
/* start stat */
.stats{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background:url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/stats.png);
    color: white;
    position: relative;
    background-size: cover;
}
.stats::before{
    content: '';
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.stats .container{
    display: flex;
    background-color: var(--transparent-color);
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.stats .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex-basis: 25%;
    text-align: center;
}
@media (max-width:992px){
    .stats .box{
        flex-basis: 50%;
    }
}
@media (max-width:768px){
    .stats .box{
        flex-basis: 100%;
    }
}
.stats i{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats .number{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
/* end stat */
/* start our-skills */
.our-skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.our-skills .container{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}


@media (max-width:992px){
    .our-skills .container{
        grid-template-columns: 100%;
        grid-gap: 0;
    }
}

.our-skills div h3{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

.our-skills div p{
    color: var(--p-color);
    text-align: center;
    margin-bottom: 50px;
    line-height: 2;
}

.our-skills div img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .content{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .content .text{
    line-height: 2;
    border-bottom: solid 1px #ccc;
}

@media (max-width:768px){
    .our-skills .content{
        flex-direction: column;
    }
    .our-skills .content .text{
        text-align: center;
    }
    .our-skills div img{
        margin: 0;
    }
}

.our-skills .content .text p{
    color: var(--p-color);
    text-align: end;
    margin-bottom: 0;
    line-height: 2;
}

.our-skills ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills ul li{
    width: 14px;
    height: 14px;
    border: solid #aaa 1px;
    margin-right: 10px;
    border-radius: 50%;
}
.our-skills ul li.active{
    background-color: var(--main-color);
}

.skills .level{
    margin-bottom: 40px;
}
.skills h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.skills .prog{
    height: 30px;
    background-color: #dedadc;
}
.skills span{
    height: 100%;
    background-color:var(--main-color);
    display: block;
    position: relative;
}
.skills span::before{
    content: attr(data-progress);
    background: black;
    color: white;
    padding: 6px;
    border-radius: 4px;
    right: -19px;
    top: -40px;
    position: absolute;
}
.skills span::after{
    content: '';
    border: solid 8px;
    border-color: black transparent transparent;
    position: absolute;
    right: -6.5px;
    top: -10px;
}
/* end our-skills */
/* start quote */
.quote{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(https://i.pinimg.com/originals/f9/83/d9/f983d953b70e28b690ff0de1f3af4a8c.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.quote::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--overlay-color);
    top: 0;
    right: 0;
}
.quote .container{
    position: relative;
}
.quote q{
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
/* end quote */
/* start pricing */
.pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
.pricing .plan{
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plan .head{
    padding: 30px 20px;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
.pricing .plan .head h3{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.pricing .plan .head span{
    font-size: 60px;
    font-weight: 900;
    position: relative;
}
.pricing .plan .head span::before{
    content: '$';
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    left: -20px;
}
.pricing .plan .head span::after{
    content: '/mo';
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    right: -57px;
    bottom: 11px;
    position: absolute;
}

.plan li{
    padding: 20px;
    position: relative;
}
.plan li:not(:last-child)::after{
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.plan .foot{
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
.plan a{
    margin: 30px auto;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    border: solid 1px var(--main-color);
    width: fit-content;
}
.pricing p{
    margin: 50px auto 20px;
    text-align: center;
}
.pricing .contact-link{
    margin: 24px auto;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    width: fit-content;
    background: var(--main-color);
    text-align: center;
}
/* end pricing */
/* start subscribe */
.subscribe{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg);
    background-size: cover;
    color: white;
    position: relative;
}
.subscribe::before{
    content: '';
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.subscribe .container{
    display: flex;
    position: relative;
    justify-content: center;
}
@media (max-width:992px){
    .subscribe .container{
        flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
}
.subscribe form{
    display: flex;
    position: relative;
    max-width: 100%;
    width: 600px;
}
.subscribe form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 25px;
}
.subscribe form input{
    padding: 20px 20px 20px 60px;
    background: transparent;
    border: solid 1px;
    color: white;
    border-right: none;
    width: 100%;
    border-radius: 0;
}
.subscribe form input::placeholder{
    color: white;
}
.subscribe form button{
    padding: 20px;
    color: white;
    text-transform: uppercase;
    background: var(--main-color);
    border: solid 1px;
    border-left: none;
}
.subscribe p{
    margin-left: 50px;
    line-height: 2;
}
@media (max-width:992px){
    .subscribe p{
        margin: 30px 0 0;
    }
}
/* end subscribe */
/* start contact */
    .contact{
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
    }
    .contact .content{
        display: flex;
        justify-content: space-between;
    }
    @media (max-width:767px){
        .contact .content{
            flex-direction: column-reverse;
        }
    }
    .contact .content form{
        flex-basis: 70%;
    }
    .contact .main-input{
        display: block;
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 30px;
        border: solid 1px #ccc;
        border-radius: 0;
        max-width: 100%;
    }
    .contact .main-input:focus{
        outline: none;
    }
    
    .contact textarea{
        height: 200px;
        resize: vertical;
    }
    .contact .content .buttons{
        display: flex;
        justify-content: space-between;
    }
    
    .contact .content .buttons button{
        padding: 20px;
        color: white;
        text-transform: uppercase;
        background: var(--main-color);
        border: none;
    }
    
    .contact .content .info{
        flex-basis: 25%;
    }
    @media (max-width:767px){
        .contact .content .info{
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
    }
    .info div{
        margin-bottom: 90px;
    }
    .info h4{
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .info span{
        display: block;
        color: var(--p-color);
        margin-bottom: 10px;
    }

/* end contact */
