/*start main styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --p-color:#777;
    --main-padding:100px;
    --overlay-color: rgba(0, 0, 0, 0.5)
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*end main styles */
/* start repeated styles */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before{
    content: '';
    background: black;
    width: 208px;
    height: 1.5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.main-heading h2::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: solid 1.5px;
    border-radius: 50%;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -41px;
}
.main-heading p{
    color: var(--p-color);
    max-width: 100%;
    width: 550px;
    margin: 0 auto 100px;
}

/* end repeated styles */
/* start header */
header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    height: 1px;
    background-color: white;
    width: calc(100% -  30px);
    position: absolute;
    bottom: 0;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
}
i.bar{
    display: none;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 10px;
    transition: 0.5s;
}
.form{
    display: flex;
    align-items: center;
    text-align: end;
    color: white;
    margin-left: 20px;
    border-left: white solid 1px;
    height: 30px;
    align-self: center;
}
i.search{
width: 35px;
font-size: 1.2em;
}
header img{
    height: 40px;
}
nav a:hover,
nav a.active{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 2;
}

@media (max-width: 767px){
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 50%);
    }
    ul a{
        padding: 15px;
    }
    nav .bar{
        display: block;
        color: white;
        align-self: center;
        font-size: 1.3em;
        margin-right: 10px;
    }
    nav:hover ul{
        display: flex;
    }
}
/* end header */
/*start landing*/
.landing{
    height: 100vh;
    background-color: firebrick;
    background: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg);
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .text{
    width: 50%;
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .cont{
    max-width: 500px;
}

.landing .text .cont h2{
    margin-bottom: 20px;
    line-height: 1.8em;
}
.landing .text .cont p{
    line-height: 1.5em;
}
.landing i{
    color: white;
    position: absolute;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
}
.landing i.left{
 left: 30px;
}
.landing i.right{
right: 30px;
}
.landing ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li{
    width: 20px;
    height: 20px;
    border: solid white 1px;
    margin-right: 10px;
    border-radius: 50%;
}
.landing ul li.active{
    background-color: var(--main-color);
}

@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }    
    .landing .text .cont{
        max-width: 100%;
    }
    .landing i {
        display: none;
    }
}
/*end landing*/
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.services i{
    font-size: 3em;
    margin-bottom: 30px;
}
.services h3{
    color: var(--main-color);
    margin-bottom: 20px;
}
.services p{
    color: #777;
    line-height: 2;
}

.serbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width:767px){
    .sergrid{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-gap: 40px 80px;
    }
    .serbox{
        margin: 0;
        flex-direction: row;
        text-align: start;
    }
    .serbox i{
        margin-right: 40px;
    }
}
/* end services */
